name: 'Test'
on:
  push:
    branches:
      - main
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-24.04
    container: astral/uv:python3.12-bookworm-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
         Python-version: '3.10'
      - name: Install independency
        run: pip install -r requirements.txt

      - name: run tests
        run: python run.py -v


